## Count the profit

In [3]:
value=int(raw_input('please input profit: '))
list1=[1000000,600000,400000,200000,100000,0]
list2=[0.01,0.015,0.03,0.05,0.075,0.1]
list3=[400000,200000,200000,100000,100000]
for i in range(6):
    if value >list1[i]:
        v1=(value-list1[i])*list2[i]
        print v1
        list2_new=list2[i+1:6]
        list3_new=list3[i:5]
        v2=sum(map(lambda (x,y):x*y,zip(list2_new,list3_new)))
        print v2
        print v1+v2
        break

please input profit: 29372
2937.2
0
2937.2

In [16]:
x = int(raw_input("净利润："))
y = 0
if x <= 100000:
    y = x*0.1
elif x > 100000 and x <= 200000:
    y = 100000*0.1 + (x-100000)*0.075
elif x > 200000 and x <= 400000:
    y = 100000*0.1 + 100000*0.075 + (x-200000)*0.05
elif x > 400000 and x <= 600000:
    y = 100000*0.1 + 100000*0.075 + 200000*0.05 + (x-400000)*0.03
elif x > 600000 and x <= 1000000:
    y = 100000*0.1 + 100000*0.075 + 200000*0.05 + 200000*0.03 + (x-600000)*0.015 
elif x > 1000000:
    y = 100000*0.1 + 100000*0.075 + 200000*0.05 + 200000*0.03 + 400000*0.015 + (x-1000000)*0.01

print('獎金：%s'%(y))

净利润：382372
獎金：26618.6

In [18]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

value = int(raw_input("利潤:"))

list_limit = [1000000,600000,400000,200000,100000,0]
list_bonus = [0.01,0.015,0.03,0.05,0.075,0.1]
list_past = [400000,200000,200000,100000,100000]

for i in range(6):
    if value > list_limit[i]:
        value1 = (value - list_limit[i])*list_bonus[i]
        print value1
        list_bonus_new = list_bonus[i+1:6] #移除超出界線的
        list_past_new = list_past[i:5] #移除已經算過的
        value2 = sum(map(lambda(x,y):x*y,zip(list_bonus_new,list_past_new))) #用zip合併兩個list,呈現成(x,y)的形式
        print value2
        print("分紅: %s"%(value1+value2))
        break

利潤:382372
9118.6
17500.0
分紅: 26618.6

In [80]:
year = int(raw_input('year:\n'))
month = int(raw_input('month\n:'))
day = int(raw_input('day:\n'))

mon_c = range(1,13)
day_c = [31,28,31,30,31,30,31,31,30,31,30,31]

for m in range(12):
    if month == mon_c[m]:
        days = sum(day_c[:m])
        days += day
        if year%4==0 and month>2:
            days += 1
            print  'that is the %s days' %(days)
            break
        else:
            print 'that is the %s days' %(days)

year:
1993
month
:2
day:
27
that is the 58 days

## Count if the year is leap year

In [81]:
i= int(input('请输入年份：'))
j= int(input('请输入月份：'))
k= int(input('请输入天数：'))
month = [31,28,31,30,31,30,31,31,30,31,30,31]
day = 0
if i%4 == 0  or i %400 == 0 and i%100 != 0: #闰年
    month = month[:j-1]
    if j >2:    #大于2月份
        day = sum(month)+1+k
        
    elif j== 2 and k ==29:    #刚好在闰年闰天
        day = sum(month)+1+k
        
    else:                            
        day = sum(month)+k
else:    #平年
    month = month[:j-1]
    day = sum(month)+k
    
print('这一天是这一年的第{}天'.format(day))

请输入年份：1993
请输入月份：2
请输入天数：27
这一天是这一年的第58天

In [87]:
mn_list = [((i-j)/2)**2-100 for i in range(2,85) for j in range(2,85) if (j%2==0 and i%2==0 and i*j == 168)]
set(mn_list)

{-99, 21, 261, 1581}

## 有四个数字：1、2、3、4，能组成多少个互不相同且无重复数字的三位数？各是多少？

In [98]:
def random(list):
    for h in list:
        for t in list:
            for d in list:
                if h!=t and h!=d and t!=d:
                    print 100*h + 10*t + d

In [125]:
def random(list,num):
    for count in range(0,num):
        for list[count] in list:
            list[count] != list[count+1]

In [126]:
l = [1,2,3]
n = 2

for num in l:

1
2
3
4
4
4
3
4

## 输入三个整数x,y,z，请把这三个数由小到大输出。

In [149]:
a = int(raw_input('a'))
b = int(raw_input('b'))
c = int(raw_input('c'))

list = [a,b,c]
list.sort()
print list

a42
b52
c33
[33, 42, 52]

In [163]:
def arran(num1,num2,num3):
    arr = [num1,num2,num3]
    for i in range (0,3):
        for o in range (0,3):
            for p in range (0,3):
                if arr[i] > arr[o] > arr[p]:
                    print arr[i],arr[o],arr[p]

In [169]:
arran(23,41,32)

41 32 23

In [177]:
a=0
b=1
k=[]

while a < b:
    c = a+b
    k.append(a)
    k.append(b)
    k.append(c)
    a = b+c
    b = a+c
    
    if len(k)>15:
        break
k

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

## Make a 99 multiplication

In [35]:
for i in range(1, 10):
    print 
    for j in range(1, i+1):
        print "%d*%d=%d" % (i, j, i*j),

1*1=1
2*1=2 2*2=4
3*1=3 3*2=6 3*3=9
4*1=4 4*2=8 4*3=12 4*4=16
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

## 古典问题：有一对兔子，从出生后第3个月起每个月都生一对兔子，小兔子长到第三个月后每个月又生一对兔子，假如兔子都不死，问每个月的兔子总数为多少？

In [61]:
list=range(101,201)
for l in range(101,201):
    for k in range(2,l):
        if l%k ==0:
            list.remove(l)
            break
list

[101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199]

In [62]:
k = []

### 打印出所有的"水仙花数"，所谓"水仙花数"是指一个三位数，其各位数字立方和等于该数本身。例如：153是一个"水仙花数"，因为153=1的三次方＋5的三次方＋3的三次方。

In [67]:
k=[]
for h in range(1,10):
    for d in range(10):
        for s in range(10):
            m = h*100 + d*10 + s
            if h**3+d**3+s**3 == m:
                k.append(m)
k

[153, 370, 371, 407]

### 将一个正整数分解质因数。例如：输入90,打印出90=2*3*3*5。

In [164]:
h=0
l=[]
num = int(raw_input('input number:'))
for i in range(2,num):
    if num%i==0:
        h = i
        if prime_is(h) == 'f':
            l.append(h)
            num = num/h

input number:66

[2, 3, 11]

### 利用条件运算符的嵌套来完成此题：学习成绩>=90分的同学用A表示，60-89分之间的用B表示，60分以下的用C表示。

In [174]:
score = int(raw_input('input your score:'))
if score >= 90:
    print 'A'
elif score < 90 and score >= 60:
    print 'B'
else:
    print 'C'

input your score:59
C

### 求s=a+aa+aaa+aaaa+aa...a的值，其中a是一个数字。例如2+22+222+2222+22222(此时共有5个数相加)，几个数相加由键盘控制。

In [181]:
a = int(raw_input('a='))
n = int(raw_input('n='))
b = 0
m = 0

for n in range(0,n):
    b = (10**n)*a +b
    m += b

print m

a=4
n=4
4936

### 一球从100米高度自由落下，每次落地后反跳回原高度的一半；再落下，求它在第10次落地时，共经过多少米？第10次反弹多高？

In [230]:
down_dis = 0
up_dis = 0

down_n = int(raw_input('number of down:'))
up_n = int(raw_input('number of up:'))

for d in range(down_n):
    down = 100/(2.0**d)
    down_dis += down

print '落下距離: %s'%(down)
print '落下總距離: %s'%(down_dis)

for u in range(up_n):
    up = 50/(2.0**u)
    up_dis += up
print '反彈高度: %s' %(up)
print '反彈總高度: %s' %(up_dis)
print '總經過: %s' %(down_dis+up_dis)

number of down:10
number of up:10
落下距離: 0.1953125
落下總距離: 199.8046875
反彈高度: 0.09765625
反彈總高度: 99.90234375
總經過: 299.70703125

### 猴子吃桃问题：猴子第一天摘下若干个桃子，当即吃了一半，还不瘾，又多吃了一个第二天早上又将剩下的桃子吃掉一半，又多吃了一个。以后每天早上都吃了前一天剩下的一半零一个。到第10天早上想再吃时，见只剩下一个桃子了。求第一天共摘了多少。

In [236]:
rest=1
for day in range (9,0,-1):
    have = (rest +1) *2
    rest = have

print have

1534

两个乒乓球队进行比赛，各出三人。甲队为a,b,c三人，乙队为x,y,z三人。已抽签决定比赛名单。有人向队员打听比赛的名单。a说他不和x比，c说他不和x,z比，请编程序找出三队赛手的名单。

In [243]:
team2 =["x","y","z"]
for a in team2:
    for b in team2:
        for c in team2:
            if a!='x' and c!='x'and c!='z' and a!=b and a!=c and b!=c:
                print('a and %s b and %s c and %s')%(a,b,c)

a and z b and x c and y

In [ ]:
   *
  ***
 *****
*******
 *****
  ***
   *

In [250]:
for i in range(4):
    print((3-i)*' '+(2*i+1)*'*')
for i in range(3):
    print((i+1)*' '+(5-2*i)*'*')

   *
  ***
 *****
*******
 *****
  ***
   *

In [251]:
print(2*' '+3*'y')

  yyy

In [66]:
from abc import ABCMeta, abstractmethod

class Vehicle (object):
    
    _metaclass_ = ABCMeta
    
    base_sale_price = 0
    wheels = 0  #會有差異的兩個先設為零
    
    def __init__ (self,name,model,sold_on):
        self.name = name
        self.model = model
        self.sold_on = sold_on
   
    def sale_price(self):
        if self.sold_on is not None:
            return 0.0
        return 5000 * self.wheels #do not know self_wheels
    
    def purchase_price(self):
        if self.sold_on is not None:
            return 0,0
        return self.base_sale_price - (0.1 * self.wheels) #沒有self.base_sale_price 這兩個需要一個child class定義
    

    def vehicle_type(self):#也沒出現
        return self.vehicle_type

In [67]:
Vehicle.base_sale_price

0

In [69]:
Car.sale_price

In [49]:
class Car(Vehicle):
    base_sale_price = 8000
    wheels = 4
    
    def vehicle_type(self):
        return 'car'

In [51]:
car = Car('mazda','M2',"None")

4

In [80]:
from abc import ABCMeta, abstractmethod
class Vehicle(object):

    __metaclass__ = ABCMeta

    base_sale_price = 0
    wheels = 0

    def __init__(self, miles, make, model, year, sold_on):
        self.miles = miles
        self.make = make
        self.model = model
        self.year = year
        self.sold_on = sold_on

    def sale_price(self):
        """Return the sale price for this vehicle as a float amount."""
        if self.sold_on is not None:
            return 0.0  # Already sold
        return 5000.0 * self.wheels

    def purchase_price(self):
        """Return the price for which we would pay to purchase the vehicle."""
        if self.sold_on is None:
            return 0.0  # Not yet sold
        return self.base_sale_price - (.10 * self.miles)

    @abstractmethod
    def vehicle_type(self):
        """"Return a string representing the type of vehicle this is."""
        pass

In [92]:
class Car(Vehicle):
    """A car for sale by Jeffco Car Dealership."""

    base_sale_price = 8000
    wheels = 4

    def vehicle_type(self):
        """"Return a string representing the type of vehicle this is."""
        self.vehicle_typr = 'car'

class Truck(Vehicle):
    """A truck for sale by Jeffco Car Dealership."""

    base_sale_price = 10000
    wheels = 4

    def vehicle_type(self):
        """"Return a string representing the type of vehicle this is."""
        return 'truck'

In [107]:
ccc.vehicle_type()

In [103]:
ccc.sold_on

'None'

In [123]:
class Circle(object):
    pi = 3.14
    def __init__ (self,radius):
        self.radius = radius
    def area(self):
        return (self.radius**2)*Circle.pi
    def set_radius(self,new_radius):
        self.radius = new_radius

In [124]:
C = Circle(5)

In [125]:
C.area()

78.5

In [127]:
C.set_radius(10)

In [129]:
C.area()

314.0

In [214]:
class Animal(object):
    
    specise = 'mammal'
    
    def __init__ (self,leg):
        print 'animal created'
        self.leg = leg
        
    def eat(self):
        print "food"
        
    def leg(self):
        return self.leg

In [217]:
Ani = Animal(4)

animal created

In [219]:
Ani.leg

4

In [235]:
class Dog(Animal):
    
    leg = 4
    
    def __init__ (self):
        Animal.__init__(self,Ani.leg)
        print "Dog created"
    
    def eat(self):
        print "dog food"
    
    def bark(self):
        print "whoof"

In [236]:
D = Dog()

animal created
Dog created

In [237]:
D.eat()

dog food

In [238]:
D.bark()

whoof

In [239]:
D.leg

4

In [1]:
import pptx

In [3]:
pptx.presentation