## Pandas

In [1]:
import pandas as pd

In [3]:
df  = pd.read_csv('/Users/weichien/Desktop/Moviedata2016.csv', sep=',')

In [5]:
df.describe()

       imdb_rating  critics_score  audience_score
count    11.000000      11.000000       11.000000
mean      6.981818      66.454545       70.454545
std       1.058129      29.534264       19.911623
min       5.300000      19.000000       38.000000
25%       6.150000      40.000000       57.500000
50%       7.400000      79.000000       80.000000
75%       7.900000      90.000000       86.000000
max       8.200000      98.000000       93.000000

In [6]:
df.columns

Index(['Name', 'imdb_rating', 'critics_score', 'audience_score',
       'critics_rating', 'audience_rating', 'best_actor_win',
       'best_actress_win', 'best_dir_win'],
      dtype='object')

In [2]:
df = pd.read_csv("/Users/weichien/Downloads/DAT210x-master/Module2/Datasets/direct_marketing.csv")